<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>

<div class="np-padding">
  <div ng-if="document" class="np-doc">
    <npdc-document:meta></npdc-document:meta>

    <section class="np-authors">
      <span class="author">
        <md-icon>account_circle</md-icon>
        {{ fullnames(authors) }}
      </span>
    </section>


    <section class="np-citation md-whiteframe-1dp">
      <h4>Use the following string to cite the publication</h4>
      <span>{{citation}}</span><br>
      <span>DOI: <a href="doi.href">{{doi.title}}</a></span>
    </section>

    <section>
      <h3>Abstract</h3>
      <md-divider></md-divider>
      <p marked="document.scientific_abstract"></p>
    </section>

    <section>
      <h3>Details</h3>
      <md-divider></md-divider>
      <div class="layout-padding">
        <!-- programme issn issbn-->
        <p ng-if="document.programme">
          Programmes: <span ng-repeat="programme in document.programme"><a ng-href="?q=&filter-programme={{programme}}">{{ programme }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.topics">
          Topics: <span ng-repeat="topic in document.topics"><a ng-href="?q=&filter-topics={{topic}}">{{ topic }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.tags">
          Tags: <span ng-repeat="tag in document.tags"><a ng-href="?q=&filter-tags={{tag}}">{{ tag }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.locations">Locations: {{ document.locations | json }}</p>
      </div>
    </section>

    <npdc:links links="links" related="related"></npdc:links>

  </div>
</div>
