<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>

<div ng-if="document">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>description</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{ document.publication_type | t}}</span>
        <span ng-if="publishers.length > 0" class="md-subhead">{{ 'Published'|t }} {{ document.published }} {{ 'by' | t}} <span ng-repeat="p in publishers">
            {{ p.name }} <span ng-if="!$last">,</span>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <h1 class="md-display-2">{{ document.title }}</h1>

      <h2 ng-if="(document.journal.name || document.journal.np_series) && 'in-book' != document.publication_type && 'in-report' != document.publication_type" class="md-headline">
        <i>{{ document.journal.name || document.journal.np_series }}</i>
        {{ document.journal.series }}
        <span ng-if="document.volume || document.journal.series_no">{{ document.volume || document.journal.series_no}}</span>
        <span ng-if="document.issue">({{document.issue}})</span>

        <span ng-if="document.pages.length == 2"> pp. {{ document.pages[0]}}-{{document.pages[1]}}</span>
        <span ng-if="document.pages.length == 1"> pp. {{ document.pages[0]}}</span>

        <span ng-if="document.published">({{ document.published.split('-')[0] }})</span>
      </h2>

      <span ng-if="document.doi">
          <a ng-href="//doi.org/{{document.doi}}"><img src="/assets/img/doi.png" height="20px" title="Digital Object Identifier">{{ document.doi }}</a>
      </span>

      <h2 ng-if="parent || 'in-book' == document.publication_type || 'in-report' == document.publication_type">in <a ng-href="{{parent.id}}">{{ parent.title || document.journal.name }}</a></h2>

      <!-- if book and editor -->
      <h2 class="md-headline" ng-if="authors.length > 0"><npdc:authors authors="authors"></npdc:authors></h2>

      <div ng-if="coauthors.length > 0">Co-authored by <npdc:authors authors="coauthors"></npdc:authors></div>
      <div ng-if="editors.length" class="md-subhead">Edited by <span ng-repeat="name in names(editors)">{{name}}<span ng-if="!$last">,</span> </span></div>

      <div ng-if="document.conference" ng-init="c = document.conference">
        <p>Presented at: {{ c.name }}, {{ c.place }}, {{c.country }} ({{ c.dates[0].split('T')[0]}} — {{c.dates[1].split('T')[0]}})</p>
      </div>

      <section ng-if="document.files.length > 0">
        <div ng-repeat="file in document.files">
          <!-- <span ng-show="!isOpen(document)"><md-icon title="protected: the provided link only works during your current login session">lock</md-icon></span> -->
          <span><md-icon>file_download</md-icon></span>
          <span>
            <a ng-href="{{ attachmentUri(file) }}">{{ file.filename}}</a> ({{ file.length | bytes }}) <!-- {{ file.type }} -->
          </span>
        </div>
      </section>
    </md-card-content>
  </md-card>

  <span id="text" class="anchor"></span>
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>text_fields</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{'Texts' | t}}</span>
        <span class="md-subhead">Scientific abstract and summary for non-scientists</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <section ng-if="document.abstract.length > 0">
        <h3>{{ 'Abstract' | t }}</h3>
        <div ng-repeat="a in document.abstract">
          {{ lang.getNativeName(a['@language']) }} <span marked="a['@value']||'Missing'"></span>
        </div>
      </section>

      <section ng-if="document.overview.length > 0">
        <h3>{{ 'Overview' | t }} ({{'for non-scientists'|t}})</h3>
        <div ng-repeat="o in document.overview">
          {{ lang.getNativeName(o['@language']) }} <span marked="o['@value']||'Mangler'"></span>
        </div>
      </section>

    </md-card-content>
  </md-card>

  <npdc:links links="links"></npdc:links>

  <npdc:persons></npdc:persons>

  <npdc:organisations></npdc:organisations>

  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>label_outline</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{'Classification' | t}}</span>
        <span class="md-subhead">Programmes, topics, tags</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <section>

      <div>


        <p ng-if="document.programme.length > 0">
          Programmes: <span ng-repeat="programme in document.programme"><a ng-href="?q=&filter-programme={{programme}}">{{ programme | t }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.topics.length > 0">
          Topics: <span ng-repeat="topic in document.topics"><a ng-href="?q=&filter-topics={{topic}}">{{ topic | t }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.tags.length > 0">
          Tags: <span ng-repeat="tag in document.tags"><a ng-href="?q=&filter-tags={{tag}}">{{ tag | t }}</a><span ng-if="!$last"> / </span></span>
        </p>
        <p ng-if="document.locations.length > 0">{{ 'Locations'|t }}: {{ document.locations | json }}
        <!--<span ng-repeat="loc in document.locations">{{ loc.placename || loc.area }}, {{ loc.country }}.</span></p>-->

        <p ng-if="document.issn">ISSN: {{ document.issn | json }}</p>
        <p ng-if="document.issn">ISBN: {{ document.isbn | json }}</p>

      </div>
    </section>

    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>label_outline</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{'Citation' | t}}</span>
        <span class="md-subhead"></span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <span><npdc:citation  citations="citations"></npdc:citation></span>
    </md-card-content>
  </md-card>

  <npdc:metadata metadata="metadata" document="document"></npdc:metadata>

    <!--<npdc:links related="related"></npdc:links>-->

</div>
<!--{{ romeo | json }}-->